.lesson {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 0.25em;
}

.lesson__index {
    background-color: var(--color-white);
    color: var(--color-gray);
    padding: 0.5em 0.75em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5em;
    width: 100%;
    cursor: default;
}

.lesson__name-input {
    background-color: var(--color-white);
    border-radius: 0.5em;
    padding: 0 0.75em;
    text-align: center;
    min-width: calc(1em * 15);
}

::deep .lesson__button svg {
    fill: var(--color-gray);
}