@using Timetable.Frontend.Shared.Services
@inherits LayoutComponentBase
@inject ApiUrlService ApiUrlService

<div class="main-layout-container">
    @Body
</div>

<style>
    .main-layout-container {
        background: linear-gradient(45deg, rgba(47, 47, 51, 0.8), rgba(63, 64, 69, 0.8)), url("@_randomBackgroundImageEndpointUrl");
    }
</style>

@code
{
    private string? _randomBackgroundImageEndpointUrl;

    protected override void OnInitialized()
    {
        _randomBackgroundImageEndpointUrl = ApiUrlService.Retrieve("api/random-background-image");
    }
}

