@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --color-white: rgb(255, 253, 239);
    --color-white-hover: rgb(204, 202, 191);
    --color-white-transparent: rgb(255, 253, 239, 0.15);
    --color-gray: rgb(47, 47, 51);
}

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: linear-gradient(45deg, rgba(47, 47, 51, 0.8), rgba(63, 64, 69, 0.8)), url("images/background-1.jpg");
    background-size: cover;
    background-blend-mode: hard-light;
}

.material-symbols-rounded {
    font-variation-settings: 'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 24
}