@page "/lesson-table/editor"
@rendermode InteractiveServer

<Header>
    <ActionItems>
        <Button>
            <InnerHtml>
                <RestoreIcon/>
            </InnerHtml>
        </Button>
        <Button>
            <InnerHtml>
                <BackupIcon/>
            </InnerHtml>
        </Button>
        <Button>
            <InnerHtml>
                <SaveIcon/>
            </InnerHtml>
        </Button>
    </ActionItems>
</Header>

<EditableLessonTable DayOfWeek="_customDayOfWeek"/>

<DayOfWeekSelector @bind-DayOfWeek="_customDayOfWeek"/>

@code
{
    private CustomDayOfWeek _customDayOfWeek = DateTime.Today.GetNativeDayOfWeek();
}