<div class="container">
    <nav>
        @NavItems
    </nav>
    <div class="action-items">
        @ActionItems
    </div>
</div>

@code
{
    [Parameter]
    public RenderFragment? NavItems { get; set; }

    [Parameter]
    public RenderFragment? ActionItems { get; set; }
}