<div @attributes="AdditionalAttributes" is-transparent="@IsTransparent">
    @InnerHtml
</div>

@code
{
    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? AdditionalAttributes { get; set; }

    [Parameter] public RenderFragment? InnerHtml { get; set; }
    [Parameter] public bool IsTransparent { get; set; }
}