div {
    background-color: var(--color-white);
    color: var(--color-gray);
    border-radius: 0.5em;
    padding: 0.35em;
    font-weight: 700;
    cursor: pointer;
    transition: 150ms;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0);
}

div:hover {
    background-color: var(--color-white-hover);
}

div:active {
    background-color: var(--color-white-press);
}

div[is-transparent] {
    background-color: var(--color-white-transparent);
    color: var(--color-white);
    border: 1px solid var(--color-white);
    backdrop-filter: blur(16px);
}