.container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    align-items: flex-start;
}

::deep .nav-item {
    background-color: var(--color-white);
    color: var(--color-gray);
    border-radius: 0.5em;
    padding: 0.35em;
    font-weight: 700;
    cursor: pointer;
    transition: 150ms;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0);
    height: 100%;
    aspect-ratio: 1 / 1;
}

::deep .active {
    background-color: var(--color-white-transparent);
    color: var(--color-white);
    border: 1px solid var(--color-white);
    backdrop-filter: blur(16px);
}

::deep .nav-item svg {
    fill: var(--color-gray);
}

::deep .active svg {
    fill: var(--color-white);
}

::deep .nav-item:hover {
    background-color: var(--color-white-hover);
}

::deep .active:hover {
    background-color: var(--color-white-transparent);
}

.action-items {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    align-items: flex-end;
    justify-self: flex-end;
}