@page "/lesson-list"
@rendermode InteractiveServer

<PageTitle>Список уроков</PageTitle>

<LessonsSheduleHeader>
    <ActionItems>
        <Button @onclick="Save" LabelAlwaysVisible="false">
            <Icon>
                <SaveIcon/>
            </Icon>
            <Label>
                Сохранить
            </Label>
        </Button>
    </ActionItems>
</LessonsSheduleHeader>

<LessonList @ref="_lessonListRef" />

<div></div>

@code 
{
    private LessonList _lessonListRef = null!;
    
    private async Task Save()
    {
        await _lessonListRef.Save();
    }
}