@page "/lesson-table/viewer"
@implements IDisposable
@rendermode InteractiveServer

<DateTimePanel />

<ViewableLessonTable DayOfWeek="_customDayOfWeek"/>

<div></div>

@code
{
    private CustomDayOfWeek _customDayOfWeek = DateTime.Today.GetNativeDayOfWeek();

    private CustomTimer? _dayOfWeekUpdateTimer;

    protected override void OnInitialized()
    {
        _dayOfWeekUpdateTimer = new CustomTimer(TimeSpan.FromSeconds(1), UpdateDayOfWeek);
    }

    private void UpdateDayOfWeek()
    {
        _customDayOfWeek = DateTime.Today.GetNativeDayOfWeek();

        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        _dayOfWeekUpdateTimer?.Dispose();
    }
}