<div class="container">
    @foreach (var dayOfWeek in Enum.GetValues<CustomDayOfWeek>())
    {
        <Button IsActive="IsActive(dayOfWeek)" OnClick="() => SetDayOfWeek(dayOfWeek)">
            <InnerHtml>
                @dayOfWeek.ToShortString()
            </InnerHtml>
        </Button>
    }
</div>

@code
{
    [Parameter] public CustomDayOfWeek DayOfWeek { get; set; }
    [Parameter] public EventCallback<CustomDayOfWeek> DayOfWeekChanged { get; set; }

    private CustomDayOfWeek CurrentDayOfWeek
    {
        get => DayOfWeek;
        set
        {
            if (DayOfWeek == value)
            {
                return;
            }

            DayOfWeek = value;
            DayOfWeekChanged.InvokeAsync(value);
        }
    }

    private bool IsActive(CustomDayOfWeek dayOfWeek)
    {
        return CurrentDayOfWeek == dayOfWeek;
    }

    private void SetDayOfWeek(CustomDayOfWeek dayOfWeek)
    {
        CurrentDayOfWeek = dayOfWeek;
    }
}