@inject LessonListService LessonListService

<table class="table">
    @foreach (var (row, rowIndex) in _table.Select((x, i) => (x, i)))
    {
        <tr class="row">
            @if (rowIndex == 0)
            {
                <!-- filling cell -->
                <td></td>

                @for (var i = 0; i < row.Count; i++)
                {
                    var index = i;

                    <td class="header-cell">
                        <input @bind="row[index]"/>
                    </td>
                }
            }
            else
            {
                <td class="cell" index>
                    @rowIndex
                </td>

                @for (var i = 0; i < row.Count; i++)
                {
                    var index = i;

                    <td class="cell">
                        <LessonSelector Lessons="_lessons" @bind-LessonName="row[index]"/>
                    </td>
                }
            }
        </tr>
    }
</table>

@code
{
    [Parameter] public CustomDayOfWeek DayOfWeek { get; set; }

    private List<Lesson> _lessons = [];
    private List<List<string>> _table = [];

    protected override void OnInitialized()
    {
        _lessons = LessonListService.GetAllLessons().ToList();
    }

    protected override void OnParametersSet()
    {
        _table.Clear();

        for (var i = 0; i < 6; i++)
        {
            _table.Add(Enumerable.Repeat(string.Empty, 10).ToList());
        }
    }
}