@page "/bell-table/editor"
@using Timetable.Frontend.BellsSchedule.Components.ManualEvents

@rendermode InteractiveServer

<BellsScheduleHeader>
    <ActionItems>
        <Button class="action-item"
                @onclick="ToggleEditingMode"
                IsTransparent="@_isTableBeingEdited"
                LabelAlwaysVisible="false">
            <Icon>
                <EditIcon/>
            </Icon>
            <Label>
                Редакт. таблицу
            </Label>
        </Button>
        <Button class="action-item"
                @onclick="ToggleBells"
                IsTransparent="@(_areBellsActive is false)"
                LabelAlwaysVisible="false">
            <Icon>
                @if (_areBellsActive)
                {
                    <EnabledIcon/>
                }
                else
                {
                    <DisabledIcon/>
                }
            </Icon>
            <Label>
                @if (_areBellsActive)
                {
                    <p>Отключить звонки</p>
                }
                else
                {
                    <p>Включить звонки</p>
                }
            </Label>
        </Button>
        <Button class="action-item" @onclick="Save" LabelAlwaysVisible="false">
            <Icon>
                <SaveIcon/>
            </Icon>
            <Label>
                Сохранить
            </Label>
        </Button>
    </ActionItems>
</BellsScheduleHeader>

<div class="tables">
    <AutomaticEventsList @ref="_automaticEventsList"/>
    <EditableBellTable @ref="_editableBellTable"
                       IsBeingEdited="_isTableBeingEdited"
                       AreBellsActive="_areBellsActive"/>
    <ManualEventsList @ref="_manualEventsList"/>
</div>

<div></div>

@code
{
    private AutomaticEventsList _automaticEventsList = null!;
    private EditableBellTable _editableBellTable = null!;
    private ManualEventsList _manualEventsList = null!;
    private bool _isTableBeingEdited;
    private bool _areBellsActive = true;

    private void ToggleEditingMode()
    {
        _isTableBeingEdited = !_isTableBeingEdited;
    }

    private void ToggleBells()
    {
        _areBellsActive = !_areBellsActive;
    }

    private async Task Save()
    {
        await _automaticEventsList.Save();
        await _editableBellTable.Save();
        await _manualEventsList.Save();
    }
}